<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>Informations de la vente </h1>

    <h2> Liste des produits vendus </h2>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">PrixVente</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ligneventes : ${listesVentes}">
            <th scope="row" th:text="${ligneventes.id}"></th>
            <td th:text="${ligneventes.Produit.libelle}"></td>
            <td th:text="${ligneventes.quantite}"></td>
            <td th:text="${ligneventes.prix}"></td>

            <td>
                <a class="btn btn-warning" th:href="@{/ligneventes/edit/{id}(id=${ligneventes.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/ligneventes/delete/{id}(id=${ligneventes.id})} ">Delete </a>
            </td>
        </tr>
        <tr th:object="${UneVente}">
            <td>Total</td>
            <td th:text="${UneVente.totalVente}"></td>
        </tr>

        </tbody>
    </table>
</div>
<div class="container">
    <form method="get" th:action="@{/ligneventes/formLigneVente}">
        <input class="btn btn-primary" type="submit" value="Ajouter une catégorie">
    </form>
</div>

<script rel="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>