<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2>Formulaire de mise a jour d'une vente </h2>
    <form method="post" th:action="@{/Vente/edit}" th:object="${uneVente}">
        <div class="mb-3">
            <input class="form-control" th:field="*{id}" type="hidden">
        </div>
        <div class="mb-3">
            <label class="form-label">Designation</label>
            <input class="form-control" th:field="*{designation}" type="text">
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Enregistrer">
        </div>

    </form>

</div>
<script rel="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>