<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <h1>Sélectionner le produit </h1>

        <h2> Liste des produits </h2>
        <div>
            <form method="post" th:action="@{/LigneVentes/recherche}">
                <input aria-expanded="false" name="libelle" placeholder="Recherche de produits" type="text">
                <input class="btn btn-primary" type="submit" value="Rechercher">
            </form>
        </div>


        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Libelle</th>
                <th scope="col">Quantité en stock</th>
                <th scope="col">Seuil</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Prix</th>
                <th scope="col">Categorie</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="produits : ${listproduits}">
                <th scope="row" th:text="${produits.id}"></th>
                <td th:text="${produits.libelle}"></td>
                <td th:text="${produits.qtStock}"></td>
                <td th:text="${produits.qtSeuil}"></td>
                <td th:text="${produits.dateCreation}"></td>
                <td th:text="${produits.prix}"></td>
                <td th:text="${produits.Categorie.designation}"></td>
                <td>
                   <a class="btn btn-danger" th:href="@{/LigneVentes/vendre/{id}(id=${produits.id})} ">Vendre </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>
<script rel="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>